.header {
    background: #333
}

.header-content {
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    padding: 0.5rem;
    font-size: 1.7rem;
    color: #4CBB17;
}

.header .header-content ul {
    list-style: none;
    display: flex;
    align-items: center;
}


.header .header-content ul li  a {
    color: #4CBB17;
    padding: 0.5rem;
}