.header {
    background: #333
}

.header-content {
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    padding: 0.5rem;
    font-size: 1.7rem;
    color:  #ff9f00;
}

.header .header-content ul {
    list-style: none;
    display: flex;
    align-items: center;
}


.header .header-content ul li  a {
    color: #ff9f00;
    font-size: 1.2rem;
    padding: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.footer {
    text-align: center; 
    background: #333
}

.footer p {
    padding: 0.5rem;
    font-size: 1.2rem;
    color: #fff;
}